#특정 파일 제외
*.pdf
*.zip
*.csv
*.ini
*.mp4
*.pyc
biasing_list.json
__init__.py



#jupyter notebook checkpoint 파일 제외
.ipynb_checkpoints/
*.ipynb filter=strip-notebook-output.DS_Store
makelist.py
*.ipynb filter=strip-notebook-output